@import './variables.css';
@import './resets.css';

h1 {
  margin: 1rem 0 0 0;
  text-align: center;
}

p {
  font-size: 0.75rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  text-align: center;
}

body {
  background: #EEE;
}

.room {
  border: 1rem solid #000;
  margin: 0 auto;
  position: relative;
}

table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

td {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

td.dirt span {
  background: rgba(139, 69, 19, 0.5);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

td.wall {
  background: #000;
}

tr {
  height: 100px;
}

.hide-text {
  text-indent: 100%; /* needs firefox fix */
  white-space: nowrap;
  overflow: hidden; 
}

.vacuum_cleaner {
  @extend .hide-text;
  height: 100px;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100px;
  border-radius: 100px;
  background: #FF0000;
  transition: all 0.25s;
}
